img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999999;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

body {
	background-color: transparent !important;
}

.lp-forms{
	background-color: #ffffff;
	max-width: 500px;
	float: none;
	padding-top: 10px;
	padding-bottom: 10px;
    margin-top: 30px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.form-container{
	max-width: 300px;
	float:none;
}

.whitetxt{
	color: #ffffff;
}

.lp-logo{
margin-top: 20px;
margin-bottom: 20px;
}


#navbar-primary .navbar-nav { 
  width: 100%;
  text-align: center;}
#navbar-primary .navbar-nav li {
    display: inline-block;
    float: none;}
#navbar-primary .navbar-nav a {
      padding-left: 30px;
      padding-right: 30px;
    }
.icon-bar{
	color: black;
}

.main-footer{
	background-color: #BDBDBD;
}