img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999999;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

body {
	background-color: transparent !important;
	    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.lp-forms{
	background-color: #ffffff;
	max-width: 500px;
	float: none;
	padding-top: 10px;
	padding-bottom: 10px;
    margin-top: 30px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.form-container{
	max-width: 300px;
	float:none;
}

.whitetxt{
	color: #ffffff;
}

.lp-logo{
margin-top: 20px;
margin-bottom: 20px;
}


#navbar-primary .navbar-nav { 
  width: 100%;
  text-align: center;}
#navbar-primary .navbar-nav li {
    display: inline-block;
    float: none;}
#navbar-primary .navbar-nav a {
      padding-left: 30px;
      padding-right: 30px;
    }
.icon-bar{
	color: black;
}

.main-footer{
	background-color: #BDBDBD;
}

body {

}

.spacer {
    margin-top: 50px;
}

.feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.categoryiconwrap{
	padding: 40px 0;
    background-color: #bdbdbd;
    margin-bottom: 30px;
}

.fp-jt{
	background: none;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.no-mg-top{
	margin-top: 0px;
}

.reply {
    padding: 10px;
    border-left: 4px solid #00AAFF;
}

.vote{
	cursor: pointer;
  color: #333;
}

.vote.downvote:hover{
	color: #DA8886;
}

.vote.upvote:hover{
	color: #71A071;
}

.vote.downvote.on{
	color: #d9534f;
}

.vote.upvote.on{
	color: #449d44;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
}

.navbar-form {
    margin-right: 0px;
    margin-left: 0px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control-feedback {
position: relative;
display: inline;
top: 0;
line-height: 14px;
}

select option[disabled]:first-child {
  display: none;
}
.avatar-nav{
  max-width: 34px !important;
  display: inline-block;
}
.inlineb{

  display: inline-block !important;
}

.navbar-form{
  padding-left: 5px;
  padding-right: 5px;

}

.navbar-avatar-wrap{
  padding-right: 15px;
  padding-left: 5px;
}

@media (max-width: 768px){
  .navbar-form{
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-avatar-wrap{
  padding-right: 0px;
  padding-left: 0px;
  }

}

.question{
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.question-container{
  margin-top: 20px;
}

.designcatbg {
    background: url('../images/design.jpg') no-repeat;
    background-size: 100%;
}

.codecatbg {
    background: url('../images/code.jpg') no-repeat;
    background-size: 100%;
}

.off-topiccatbg {
    background: url('../images/off-topic.jpg') no-repeat;
    background-size: 100%;
}

.quizcatbg {
    background: url('../images/grey-bg.jpg') no-repeat;
    background-size: 100%;
}

.designcat{
  color: #FF8A65;
}

.designcat a{
  color: #FF8A65;
}
.codecat{
  color: #00BCD4;
}

.codecat a{
  color: #00BCD4;
}

.off-topiccat{
  color: #4CAF50;
}

.off-topiccat a {
    color: #4CAF50;
}
.quizcatbg {
	color:#0C6
}
.quizcatbg a {
	color:#0C6;
}


p.votecounter{
    margin-bottom: 0px;
}

.votecounter.plus{
  color: green;
  font-weight: bold;
}
.votecounter.minus{
  color: red;
  font-weight: bold;
}

/*Quiz style*/

ul {
    list-style-type: none;
}


.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}


.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}

.error{
  color: #d9534f;
}

.valid{
  color: #5cb85c;
}

.logo{
      margin: 8px 0px;
}

.navbar-avatar-wrap {
    margin: 0px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 0px !important;
}

.replies{
  margin: 30px 0px;
}
.reply{
  margin-top: 20px;
}

.questionmeta {
     color: #aaa;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.08);
}

.replymeta {
    color: #007BB9;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(1, 170, 255, 0.21);
}