img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999999;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

body {
	background-color: transparent !important;
	    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.lp-forms{
	background-color: #ffffff;
	max-width: 500px;
	float: none;
	padding-top: 10px;
	padding-bottom: 10px;
    margin-top: 30px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.form-container{
	max-width: 300px;
	float:none;
}

.whitetxt{
	color: #ffffff;
}

.lp-logo{
margin-top: 20px;
margin-bottom: 20px;
}


#navbar-primary .navbar-nav { 
  width: 100%;
  text-align: center;}
#navbar-primary .navbar-nav li {
    display: inline-block;
    float: none;}
#navbar-primary .navbar-nav a {
      padding-left: 30px;
      padding-right: 30px;
    }
.icon-bar{
	color: black;
}

.main-footer{
	background-color: #BDBDBD;
}

body {

}

.spacer {
    margin-top: 50px;
}

.feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.categoryiconwrap{
	padding: 40px 0;
    background-color: #bdbdbd;
    margin-bottom: 30px;
}

.fp-jt{
	background: none;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.no-mg-top{
	margin-top: 0px;
}

.reply {
    padding: 10px;
    border-left: 4px solid #00AAFF;
}

.vote{
	cursor: pointer;
}

.vote.downvote:hover{
	color: #DA8886;
}

.vote.upvote:hover{
	color: #71A071;
}

.vote.downvote.on{
	color: #d9534f;
}

.vote.upvote.on{
	color: #449d44;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-right: 0px; */
    margin-left: 0px;
}

.navbar-form {
    margin-right: 0px;
    margin-left: 0px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control-feedback {
position: relative;
display: inline;
top: 0;
line-height: 14px;
}

select option[disabled]:first-child {
  display: none;
}
.avatar-nav{
  max-width: 34px !important;
  display: inline-block;
}
.inlineb{

  display: inline-block !important;
}

.navbar-form{
  padding-left: 5px;
  padding-right: 5px;

}

.navbar-avatar-wrap{
  padding-right: 15px;
  padding-left: 5px;
}

@media (max-width: 768px){
  .navbar-form{
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-avatar-wrap{
  padding-right: 0px;
  padding-left: 0px;
  }

}

.question{
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.question-container{
  margin-top: 20px;
}

.designcatbg {
    background: url('../images/design.jpg') no-repeat;
    background-size: 100%;
}

.codecatbg {
    background: url('../images/code.jpg') no-repeat;
    background-size: 100%;
}

.off-topiccatbg {
    background: url('../images/off-topic.jpg') no-repeat;
    background-size: 100%;
}

.designcat{
  color: #FF8A65;
}

.codecat{
  color: #00BCD4;
}

.off-topiccat{
  color: #4CAF50;
}

.off-topiccat a {
    color: #4CAF50;
}